@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(177, 151, 252, 1);
  --right-btn-hover-color: rgb(134, 142, 150, 1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow: hidden;
  height: 100vh;

  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;

  background: #333;
}

.split {
  position: absolute;

  width: 50%;
  height: 100%;

  overflow: hidden;
}

.split.left {
  left: 0;

  background: url('https://images.unsplash.com/photo-1461727885569-b2ddec0c4328?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before {
  position: absolute;
  width: 100%;
  height: 100%;

  content: '';

  background-color: var(--left-bg-color);
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.split.right {
  right: 0;

  background: url('https://images.unsplash.com/photo-1508009603885-50cf7c579365?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right::before {
  position: absolute;
  width: 100%;
  height: 100%;

  content: '';

  background-color: var(--right-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

h1 {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);

  color: #fff;
  font-size: 4rem;
  white-space: nowrap;
}

.btn {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 15rem;
  padding: 1.5rem;
  border: #fff solid 0.2rem;

  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;

  color: #fff;

  text-decoration: none;
}

.split.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

@media (max-width: 800px) {
  h1 {
    top: 30%;
    font-size: 2rem;
  }

  .btn {
    width: 12rem;
    padding: 1.2rem;
  }
}
